# Скомпилированный бинарник
secure_copy

# Артефакты тестов
outdir/
test_inputs/
roundtrip_out/
log.txt

# Объектные файлы
*.o
*.a

# macOS мусор
.DS_Store

# IDE
.vscode/
.idea/
test_segfault
secure_copy
test_out5/
test_lab6/
*.img
*.txt
